<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>Welcome to SKSN - {{ title }}</title>
    {% else %}
    <title>Welcome to SKSN - {{ title }}</title>
    {% endif %}
  </head>
  <body>
    <div> SKSN :
      <a href="{{ url_for('login') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for  message in messages %}
        <li>{{ message }}
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>
